<div class="center">
  <div class="container custom-container">
    <div>
      <h1 style="text-align: center;font-size: 3.2rem;margin: 0px 0; padding: 30px 1px; background-color: var(--title-bg-color);">
        Notification Panel
      </h1>
    </div>
      <div style="display: flex; margin: 30px;">
        <div style="width: 60%;">
          <form class="form" #formData="ngForm" (ngSubmit)="onSubmit(formData)">
            <h2>Select message type:</h2>
            <div style="margin-top: 1rem; display: flex; justify-content: space-around;" class="mb-3">
              <div class="info form-check form-check-inline">
                <input class="form-check-input" type="radio" name="alertType" id="info" value="info" [(ngModel)]="dt.alertType">
                <label class="radiolabel form-check-label" for="info">
                  <img style="width: 50px" src="assets/info.png" />
                </label>
              </div>

              <div class="warning form-check form-check-inline">
                <input class="form-check-input" type="radio" name="alertType" id="warning" value="warning" [(ngModel)]="dt.alertType">
                <label class="radiolabel form-check-label" for="warning">
                  <img style="width: 50px" src="assets/warning.png" />
                </label>
              </div>

              <div class="danger form-check form-check-inline">
                <input class="form-check-input" type="radio" name="alertType" id="danger" value="danger" [(ngModel)]="dt.alertType">
                <label class="radiolabel form-check-label" for="danger">
                  <img style="width: 50px" src="assets/danger.png" />
                </label>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input style="font-size: x-large; height: auto;background: transparent; color: inherit;"
                type="text" class="form-control" id="floatingTitle" name="title" placeholder="Title" [(ngModel)]="dt.title" required>
              <label  style="font-size: 25px; color: inherit;" for="floatingTitle">Title</label>
            </div>
            <div class="form-floating mb-3">
              <textarea style="font-size: x-large; height: auto;background: transparent; color: inherit; height: 150px;"
              type="text" class="form-control" id="floatingMessage" name="message" [(ngModel)]="dt.message"
                placeholder="Message">
              </textarea>
              <label class="textarea-label" style="font-size: 25px; color: inherit;" for="floatingMessage">Message</label>
            </div>
            <button style="display: flex; justify-content: center;" class="form__btn" type="submit">
              <span class="form__btn--visible">Send</span>
              <i data-feather="send"></i>
            </button>
          </form>
        </div>
        <div style="width: 40%;">
          <img class="bell" style="width: 370px;" src="assets/notification-bell.png" />
        </div>
      </div>


  </div>
</div>
