<div class="container" style="margin-top: 100px;">
  <div class="row">
      <div class="col-lg-12">
          <div class="">
              <div class="table-responsive">
                  <table class="table project-list-table table-nowrap align-middle table-borderless opsw_table">
                      <thead>
                          <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Status</th>
                              <th scope="col">Start</th>
                              <th scope="col">Finish</th>
                              <th scope="col">Error</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let job of cronJobs;">
                              <td style="width: 50px;">{{job.id}}</td>
                              <td style="width: 50px;">
                                <span class="badge mb-0" [ngClass]="statusClass(job)">{{job.status}}</span>
                              </td>
                              <td style="width: 200px;">
                                <span>{{job.start | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                              </td>
                              <td style="width: 200px;">
                                <span>{{job.finish | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                              </td>
                              <td>
                                <!-- <button *ngIf="job.error" (click)="openErrorDetails()">
                                  More
                                </button> -->
                                <button *ngIf="job.error" (click)="openErrorDetails(job)"
                                    class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center">
                                    Show More
                                </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <mat-paginator
                    [length]="totalRec"
                    [pageSize]="pageSize"
                    [pageIndex]="currentPage - 1"
                    [showFirstLastButtons]="true"
                    (page)="onPage($event)">
                  </mat-paginator>

                  <p class="range">
                    Showing {{ start }} to {{ end }} of {{ totalRec }} entries
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
