<div class="center">
  <div class="container container_home">
      <h1 class="title">
        OASA Managment System ☝️
        <!-- <input type="checkbox" [checked]="themeSrv.isDarkMode | async" data-toggle="toggle" data-onstyle="primary" (change)="onModeChange($event)"> -->
      </h1>
      <form class="form_home" #formData="ngForm">
        <button class="form_home__btn" (click)="login()">
          <span class="form_home__btn--visible">
            Login
          </span>
          <i data-feather="activity"></i>
        </button>
      </form>

  </div>
</div>
