.line-descr {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.line-code-block {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 5px;
  height: 40px;
}
