.container-start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

ion-item::part(native) .searchInput {
  border: none;
  min-height: none;
  height: 30px;
}
