.custom-dropdown {
    background-color: white;
    color: black;

    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.container {
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}


// ####################### TABS Style #########################
.tabs {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label {
    color: #6d7cff73;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 200px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: 0.15s ease-in;
}

// ############################################################
.list-title {
    font-size: 1rem;
    text-decoration: underline;
    text-align: center;
}

.full-list {
    width: 100%;
}

.mid-List {
    width: 50%
}

.time-label {
    text-align: center;
}

.itsTime {
  --background: #0054e9;
  color: #fff;
}

.floatingLabel {
  scale: .85;
  height: auto;
  top: -8px;
  background-color: white;
  padding: 0;
  left: 20px;
}


// ################### Map Style ##################################
.map-container {
  border: solid;
  height: 100%;
  width: 100%;
}

#locate-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#locate-btn:hover {
  background: #0056b3;
}

.map-frame {
  height: -webkit-fill-available;
}

#line-map {
  height: 100%;
  outline: none; /* Prevent focus outline that may trigger scroll */
}

#refreshButton {
  position: absolute;
  bottom: 70px;
  --border-radius: 30px;
  right: 2px;
  padding: 10px;
  z-index: 400;
  font-size: x-large;
}
// ################################################################
