<nav class="navbar navbar-expand-lg navbar-light opsw_navbar">
  <a class="navbar-brand" href="#" aria-label="Toggle navigation">
    <img src="assets/app-icon.png" width="40px" height="40px">
  </a>
  <div class="collapse navbar-collapse" style="justify-content: space-between;" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="navbar__item">
        <a class="custom_link navbar__link" href="oauth/push-notification">
          <i data-feather="message-circle"></i>
          <span>Notification</span>
        </a>
      </li>
      <li class="navbar__item">
        <a class="custom_link navbar__link" href="oauth/capacity">
          <i data-feather="trending-up"></i>
          <span>Traffic</span>
        </a>
      </li>
      <li class="navbar__item">
        <a class=" custom_link navbar__link" href="oauth/jobs">
          <i data-feather="zap"></i>
          <span>Jobs</span>
        </a>
      </li>
    </ul>
    <div style="display: flex; align-items: center;">
      <div #toggleBtn class="toggle-btn" (click)="changeTheme()">
        <div class="icon">
          <i *ngIf="themeSrv.isDarkMode | async" class="fa-solid fa-moon"></i>
          <i *ngIf="!(themeSrv.isDarkMode | async)" class="fa-solid fa-sun"></i>
        </div>
      </div>
      <ul class="navbar-nav mr-auto" *ngIf="profile">
        <li class="navbar__item dropdown">
          <a (click)="logOut()" style="padding: 0 10px; width: fit-content; height: 50px;" class="navbar__link" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span>{{profile.username}}</span>
            <i data-feather="log-out"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<app-alert [alert]="generalService.alerts | async"></app-alert>
<router-outlet />

